/*creo questa classe per non modificare tag body*/
.font{
    font-family: sans-serif;
}

.header-bgcolor{
    background-color: rgb(134, 175, 201);
}



/*navbar*/
.navbar{
    height: 3em;
    width: 100%;
    /*test*/
    
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    background-color: white;
    
}

.nav-list{
    width: 20%;
    /*test*/

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    list-style-type: none;
}
/*/navbar*/


/*header*/
.container-centered-header-footer{
    width:70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6em;
}

.container-centered-header-footer h1{
    font-size: 3em;
}

.header-p-img{
    display: flex;
    flex-direction: row;
    gap: 2em;
    padding-top: 2em;
}

.header-p{
    max-width:30%;
    /*test*/

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}
/*fine header e navbar*/






/*inizio main*/
.container-centered-main{
   display: flex;
   flex-direction: column;
   gap:3em;
   
    width:70%;
    margin-left: auto;
    margin-right: auto;
    padding:6em 5%;
}

.checkbox{
    display: flex;
    gap:15%;
    
}

/*sezione colonne*/
.columns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.bordo-colonna{
    width: 30%;
    border: 1px solid lightgrey;
}

.corpo-colonna{
    display: flex;
    flex-direction: column;
}

.utenti-centrato{
    text-align: center;
    border-bottom: 1px solid lightgrey;
    padding: 0.5em;
}

.testo-colonna{
    display: flex;
    flex-direction: column;
    padding:2em 1em;
    gap:2em;
}

.colonna-sezione{
    display: flex;
    flex-direction: column;
    gap:1em;
}

.riga-colonna{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.small-hr{
    width:20%;
    border:1px solid grey;
}

/*/sezione colonne*/




/*sezione team*/
.team-sezione{
    display: flex;
    flex-direction: column;
    gap:1em;

    max-width: 65%;
}

.corpo-team{
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
}

.riga-team{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    padding: 1em;
}

.riga-team button{
    max-height: 1.5em;
    width: 30%;
}
